/* Import font */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/*Booking Page Styling Starts here*/
input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgb(89, 1, 124);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(117, 0, 163);
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
/*Booking Page Styling Ends here*/

/*General Styling Starts here*/
body {
    font-family: "Lato", sans-serif;
}

.w3-bar .w3-button {
    padding: 16px;
}

.byline {
    font-size: 1rem;
}

.banner {
    filter: brightness(50%);
}

.homeLogo {
    height: 30px;
}

.vertAlign {
    vertical-align: bottom;
}
/*General Styling Ends here*/