/* Import font */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/*Booking Page Style Starts here*/


/*Booking Page Style Ends here*/

body {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 90%;
    line-height: 1.75rem;
    text-align: justify;
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.5;
}

nav ul {
    list-style-type: none;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

section {
    margin-bottom: 2rem;
}

footer {
    text-align: center;
}

img {
    width: 100%;
    padding: 5%;

}

h1 {
    font-size: 3rem;
    line-height: 2rem;
    color: rgb(89, 1, 124);
}

h2 {
    color: rgb(117, 0, 163);
}

li {
    margin-bottom: 1rem;
}

.byline {
    font-style: italic;
    font-size: 90%;
}

.logo {
    background: url('../img/icon-purple.png');
    padding: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
   

}


@media (min-width:992px) {
    body {
        width: 75%;
    }

    h1 {
        line-height: 1rem;
    }

    img {
        float: right;
        width: 40%;
        padding: 0 0 5% 5%;
    }
}